<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app>
	<context-param>
		<param-name>org.jcrontab.web.CrontabViewServlet</param-name>
		<param-value>jcrontab</param-value>
	</context-param>
	<servlet>
		<servlet-name>jcrontab</servlet-name>
        	<servlet-class>org.jcrontab.web.CrontabViewServlet</servlet-class>
		<init-param>
			<param-name>JCRONTAB_VIEW</param-name>
			<param-value>CrontabView.jsp</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>jcrontab</servlet-name>
		<url-pattern>/jcrontab</url-pattern>
	</servlet-mapping>
</web-app>
