<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app>
	<!-- This is the testting xml to see if it works with jsp-->
	<context-param>
		<param-name>org.jcrontab.web.CrontabViewServlet</param-name>
		<param-value>jcrontab</param-value>
	</context-param>
	<servlet>
		<servlet-name>jcrontab</servlet-name>
        	<servlet-class>org.jcrontab.web.CrontabViewServlet</servlet-class>
		<init-param>
			<param-name>JCRONTAB_VIEW</param-name>
			<param-value>CrontabView.jsp</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>jcrontab</servlet-name>
		<url-pattern>/jcrontab</url-pattern>
	</servlet-mapping>
	<!-- This is the testting xml to see if it works with xsl-->
	<servlet>
		<servlet-name>jcrontabxml</servlet-name>
        	<servlet-class>org.jcrontab.web.CrontabServletXML</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>jcrontabxml</servlet-name>
		<url-pattern>/jcrontabxml</url-pattern>
	</servlet-mapping>
	<!-- This is the loadOnStartupServlet in order to launch jcrontab with 
	the application server -->
	<servlet>
		<servlet-name>LoadOnStartupServlet</servlet-name>
		<servlet-class>org.jcrontab.web.loadCrontabServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
</web-app>
